h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

p {
    color: var(--secondary-color);
}

.i {
    display: flex;
    height: auto;
}

.i-left {
    flex: 1;
}

.i-right {
    flex: 1;
}

.i-left-wrapper {
    padding: 50px;
}

.i-intro {
    font-size: 50px;
    font-weight: 300;
    margin-top: 100px;
    color: #FFFFFF;
    text-align: center;
}

.i-name {
    font-size: 80px;
    color: #FFFFFF;
    text-align: center;
}

.i-title {
    height: 50px;
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
}


/*animation for what I do using css*/

.i-title-wrapper {
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(-50px);
    }
    75% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(-150px);
    }
}

.i-title-item {
    font-size: 40px;
    font-weight: bold;
    height: 50px;
    color: #C961DE;
    display: flex;
    justify-content: center;
}


/*My cartoon avatar*/

.intro-pic {
    width: 500px;
    height: 550px;
    display: block;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
}


/*responsivity using @media queuries*/

@media (max-width: 1030px) {
    .i-title-item {
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 1.5;
    }
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 26px;
    }
    .content {
        text-align: center;
        padding: 0;
    }
    .project-desciption {
        padding: 0;
        text-align: center;
    }
    .i-title-item {
        font-size: 25px;
    }
}

@media (max-width: 724px) {
    .i-right {
        display: none;
    }
    .i-title-item {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .i-title {
        font-size: 10px;
    }
}