.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
}

.i-right {
    flex: 1;
}

.i-left-wrapper {
    padding: 50px;
}

.i-intro {
    font-size: 50px;
    font-weight: 300;
    margin-top: 100px;
    color: #FFFFFF;
    text-align: center;
}

.i-name {
    font-size: 80px;
    color: #FFFFFF;
    text-align: center;
}

.i-title {
    height: 50px;
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
}


/*animation for what I do using css*/

.i-title-wrapper {
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(-50px);
    }
    75% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(-150px);
    }
}

.i-title-item {
    font-size: 40px;
    font-weight: bold;
    height: 50px;
    color: #C961DE;
    display: flex;
    justify-content: center;
}


/*My cartoon avatar*/

.intro-pic {
    width: 500px;
    height: 550px;
    display: block;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
}


/*responsivity using @media queuries*/

@media(max-width: 320px) {}