/* there were some strange dots appearing, so I'm trying to fix this, for now I have changed the header back to black, seems as though the link items have full-stops so need to get rid of those*/

.header {
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s ease-in;
    overflow: hidden;
    background-color: black;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
    background-color: radial-gradient( circle, rgb(25, 35, 53) 24%, rgb(14, 27, 54) 39%, rgb(15, 15, 27) 72%);
}

.header .navbar .logo {
    color: #c961de;
    font-size: 30px;
}

.header .nav-menu a {
    color: #ffffff;
}


/*.header .navbar img {
    width: 250px;
    height: auto;
}*/

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid #c961de;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 940px) {
    .header {
        max-width: 100%;
        background-color: radial-gradient( circle, rgb(25, 35, 53) 24%, rgba(40, 80, 158, 1) 39%, rgba(15, 16, 63, 1) 72%);
    }
    .header .navbar {
        max-width: 100%;
    }
    .hamburger {
        display: block;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: radial-gradient( circle, rgb(25, 35, 53) 24%, rgba(40, 80, 158, 1) 39%, rgba(15, 16, 63, 1) 72%);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 1.5rem 0;
    }
    .header .navbar img {
        width: 150px;
    }
}


/* there were some strange dots appearing, so I'm trying to fix this, for now I have changed the header back to black, seems as though the link items have full-stops so need to get rid of those*/