          :root {
             --branding-color: linear-gradient(107.21deg, #c961de 24.43%, #2954a3 68.95%);
             --secondary-color: #f9f7fe;
             --heading-font-family: "Playfair Display", serif;
             --default-font-family: "Poppins", sans-serif;
         }
         
         body {
             margin: 0;
             font-family: var(--default-font-family);
             background: radial-gradient(circle, rgba(65, 12, 189, 1) 24%, rgba(6, 26, 66, 1) 50%, rgba(43, 0, 64, 1) 89%);
             -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale;
         }
         
         code {
             font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
         }